<a href="https://colab.research.google.com/github/IBREEZZ/Code_Academy_Makeen2/blob/main/week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Numpy**

In [ ]:
import numpy as np

In [ ]:
l1=[1,2,3,4]
print(l1)

[1, 2, 3, 4]

In [ ]:
arry1=np.array(l1)
print(arry1)
arry1.dtype

[1 2 3 4]

dtype('int64')

In [ ]:
l2=[11,22,23,44]
l2

[11, 22, 23, 44]

In [ ]:
l=[l1,l2]
l

[[1, 2, 3, 4], [11, 22, 23, 44]]

In [ ]:
array_2D=np.array(l)
print(array_2D)

[[ 1  2  3  4]
 [11 22 23 44]]

In [ ]:
array_2D.shape

(2, 4)

In [ ]:
np.zeros(3,'int')

array([0, 0, 0])

In [ ]:
np.zeros(3)

array([0., 0., 0.])

In [ ]:
np.zeros([3,2],'int')

array([[0, 0],
       [0, 0],
       [0, 0]])

In [ ]:
np.ones(3)

array([1., 1., 1.])

In [ ]:
np.ones(3,'int')

array([1, 1, 1])

In [ ]:
np.ones([3,3])

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [ ]:
np.empty(2)

array([4.94065646e-324, 6.95257087e-310])

In [ ]:
np.empty(5)

array([1., 1., 1., 1., 1.])

In [ ]:
np.empty(9)

array([1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [ ]:
np.eye(5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [ ]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
np.arange(0,50,2)

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32,
       34, 36, 38, 40, 42, 44, 46, 48])

In [ ]:
arr1=np.array([[1,2,3,4],[8,9,10,11]])
print(arr1)

[[ 1  2  3  4]
 [ 8  9 10 11]]

In [ ]:
arr1*arr1

array([[  1,   4,   9,  16],
       [ 64,  81, 100, 121]])

In [ ]:
arr2=np.array([[1,2,3],[4,5,6]])
print(arr2)

[[1 2 3]
 [4 5 6]]

In [ ]:
arr3=np.array([[1,2,3,4],[5,6,7,8]])
print(arr3)

[[1 2 3 4]
 [5 6 7 8]]

In [ ]:
#error becuse should be same data size (same  shape)
# arr2*arr3

In [ ]:
arr1-2

array([[-1,  0,  1,  2],
       [ 6,  7,  8,  9]])

In [ ]:
arr1**3

array([[   1,    8,   27,   64],
       [ 512,  729, 1000, 1331]])

In [ ]:
arr1.T

array([[ 1,  8],
       [ 2,  9],
       [ 3, 10],
       [ 4, 11]])

In [ ]:
A=np.array([[1,2,3],[4,5,6]])
print(A)
print('\n')
B=np.array([[7,8],[9,10],[11,12]])
print(B)
print('\n')
np.dot(A,B)

[[1 2 3]
 [4 5 6]]


[[ 7  8]
 [ 9 10]
 [11 12]]

array([[ 58,  64],
       [139, 154]])

In [ ]:
a1=np.array([1,3,5])
print(a1)

a2=np.array([2,4,6])
print(a2)

print("add",a1+a2)
print("sub",a1-a2)
print("mul",a1*a2)
print("div",a1/a2)

[1 3 5]
[2 4 6]
add [ 3  7 11]
sub [-1 -1 -1]
mul [ 2 12 30]
div [0.5        0.75       0.83333333]

In [ ]:
arr=np.arange(0,11)
print(arr)

[ 0  1  2  3  4  5  6  7  8  9 10]

In [ ]:
arr.shape

(11,)

In [ ]:
arr[9]

np.int64(9)

In [ ]:
arr[1:5]

array([1, 2, 3, 4])

In [ ]:
arr[0:5]

array([0, 1, 2, 3, 4])

In [ ]:
arr[0:5]=100
arr

array([100, 100, 100, 100, 100,   5,   6,   7,   8,   9,  10])

In [ ]:
slice_of_arr=arr[0:5]
slice_of_arr

array([100, 100, 100, 100, 100])

In [ ]:
slice_of_arr[:]=99
slice_of_arr

array([99, 99, 99, 99, 99])

In [ ]:
arr

array([99, 99, 99, 99, 99,  5,  6,  7,  8,  9, 10])

In [ ]:
arr_copy =arr[6:9].copy()
arr_copy

array([6, 7, 8])

In [ ]:
arr_copy[:]=0
arr_copy

array([0, 0, 0])

In [ ]:
arr

array([99, 99, 99, 99, 99,  5,  6,  7,  8,  9, 10])

In [ ]:
arr_2d=np.array([[5,10,15],[20,25,30],[35,40,45]])
arr_2d

array([[ 5, 10, 15],
       [20, 25, 30],
       [35, 40, 45]])

In [ ]:
arr_2d[1]

array([20, 25, 30])

In [ ]:
arr_2d[:,1]

array([10, 25, 40])

In [ ]:
print(arr_2d[1][2])

30

In [ ]:
arr_2d

array([[ 5, 10, 15],
       [20, 25, 30],
       [35, 40, 45]])

In [ ]:
arr_2d[:3,1:]

array([[10, 15],
       [25, 30],
       [40, 45]])

In [ ]:
arr_2d

array([[ 5, 10, 15],
       [20, 25, 30],
       [35, 40, 45]])

In [ ]:
arr_2d[:3, ::2]

array([[ 5, 15],
       [20, 30],
       [35, 45]])

In [ ]:
arr_2d[:3, 2::]

array([[15],
       [30],
       [45]])

In [ ]:
grid = np.arange(1,13).reshape(3,4)
grid

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [ ]:
grid=grid.reshape(4,3)
grid

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [ ]:
grid=grid.reshape(2,6)
grid

array([[ 1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12]])

In [ ]:
x=np.array([1,2,3])
y=np.array([3,2,1])
np.concatenate([x,y])

array([1, 2, 3, 3, 2, 1])

In [ ]:
#row axis=0 (vertical)
np.concatenate([grid,grid])

array([[ 1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12],
       [ 1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12]])

In [ ]:
#colome axis=1 (horizontal)
np.concatenate([grid,grid],axis=1)

array([[ 1,  2,  3,  4,  5,  6,  1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12,  7,  8,  9, 10, 11, 12]])

In [ ]:
#First split until index 3
#then split from 3 to 5 (3,4)
# other be in x3
x=[1,2,3,99,99,3,2,1]
x1,x2,x3=np.split(x,[3,5])
print(x1,x2,x3)

[1 2 3] [99 99] [3 2 1]

In [ ]:
grid = np.arange(16).reshape((4, 4))
print(grid)
print("\n")
#vsplit -> vertical split (aross row) men 2 row only  for two list upper ,lower
upper, lower = np.vsplit(grid, [2])
print(upper)
print("\n")
print(lower)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]]


[[0 1 2 3]
 [4 5 6 7]]


[[ 8  9 10 11]
 [12 13 14 15]]

In [ ]:
grid = np.arange(16).reshape((4, 4))
print(grid)
print("\n")
#vsplit -> horzental split (aross colunm) mean 2 colunm only  for two left,right
left, right = np.hsplit(grid, [2])
print(left)
print("\n")
print(right)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]]


[[ 0  1]
 [ 4  5]
 [ 8  9]
 [12 13]]


[[ 2  3]
 [ 6  7]
 [10 11]
 [14 15]]

In [ ]:
grades = np.array([
   [55, 72, 39],
   [90, 56, 80]
])

#avg or we can use mean eather than this way
student_sums = np.sum(grades, axis=1)
print("the sum of each student",student_sums)
student_averages = student_sums / grades.shape[1] #shape[1] mean num of colunm
print("the avg of each student",student_averages)

#highest grade
subject_highest = np.max(grades, axis=0)
print("the max in Math,Science,English", subject_highest)

#overall avg
total_sum = np.sum(grades)
print("the sum of all student is " ,total_sum)
total_elem = grades.size
print("the num of all student is " ,total_elem)
overall_avg = total_sum / total_elem
print("the over all of all student is " ,overall_avg)

the sum of each student [166 226]
the avg of each student [55.33333333 75.33333333]
the max in Math,Science,English [90 72 80]
the sum of all student is  392
the num of all student is  6
the over all of all student is  65.33333333333333

**using where**

In [ ]:
A=np.array([1,2,3,4])
B=np.array([100,200,300,400])

condition = np.array([False,True,False,False])

answer = np.where(condition,A,B)

print(answer)

[100   2 300 400]

In [ ]:
from numpy.random import randn

In [ ]:
#give us random number(row,colunm)
arr = randn(2,3)
arr

array([[-1.1463192 , -0.74291435, -0.42883988],
       [-0.424851  ,  0.41397395,  1.44699689]])

In [ ]:
#if less than 0 change the value or make it as it

np.where(arr<0,9,arr)

array([[9.        , 9.        , 9.        ],
       [9.        , 0.41397395, 1.44699689]])

In [ ]:
np.where(arr<0,"s",arr)

array([['s', 's', 's'],
       ['s', '0.4139739456177241', '1.4469968942488363']], dtype='<U32')

In [ ]:
arr =np.array([[1,2,3],[4,5,6],[7,8,9]])
arr

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [ ]:
arr.sum()

np.int64(45)

In [ ]:
print(arr.sum(0)) #for row

print(arr.sum(1)) #for colunm

[12 15 18]
[ 6 15 24]

In [ ]:
arr.mean()

np.float64(5.0)

In [ ]:
arr.std()

np.float64(2.581988897471611)

In [ ]:
arr.var()

np.float64(6.666666666666667)

In [ ]:
bool_arr=np.array([True,False,True])

In [ ]:
bool_arr.any() #if there is true value

np.True_

In [ ]:
bool_arr.all()  # if all value id true

np.False_

In [ ]:
A=np.array([-2,5,4,-8,0])
A

array([-2,  5,  4, -8,  0])

In [ ]:
print(np.sort(A)) #small to big ascending
print(-np.sort(-A)) #big to small  descending

[-8 -2  0  4  5]
[ 5  4  0 -2 -8]

In [ ]:
#unique
countries = np.array(["France", "Germany", "USA", "Russia", "USA", "Mexico", "Germany"])
np.unique(countries)  #unique is remove the reption

array(['France', 'Germany', 'Mexico', 'Russia', 'USA'], dtype='<U7')

In [ ]:
#in1d -> test if the value in the array
np.in1d(["France","USA","Sweden"],countries) #check the value

<ipython-input-42-2b62ec377273>:1: DeprecationWarning: `in1d` is deprecated. Use `np.isin` instead.
  np.in1d(["France","USA","Sweden"],countries) #check the value

array([ True,  True, False])

In [ ]:
arr

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [ ]:
#save the array in a file .npy
np.save("my_array",arr)

In [ ]:
#to see the array that we save it using load
np.load("my_array.npy")

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [ ]:
#if we want to save it as text file use savetext
np.savetxt("my_array_text.txt",arr,delimiter=",")

In [ ]:
#to load the it using the loadtxt
np.loadtxt("my_array_text.txt",delimiter=",")

array([[1., 2., 3.],
       [4., 5., 6.],
       [7., 8., 9.]])

# **Pandas**

In [ ]:
import pandas as pd

**From list**

In [ ]:
series = pd.Series([10,20,30],index=['Apple','Banana','Mango'])
print(series)

Apple     10
Banana    20
Mango     30
dtype: int64

**From dictionary**

In [ ]:
s=pd.Series({
    'Apple':10,
    'Banana':20,
    'Mango':30
    })
print(s)

Apple     10
Banana    20
Mango     30
dtype: int64

**Accessing Element**

In [ ]:
#by index label
print(series['Apple'])
#by index number
print(series[0])

10
10

<ipython-input-60-00ac358ec1b8>:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(series[0])

In [ ]:
print(series[series>10])

Banana    20
Mango     30
dtype: int64

![image.png]()

In [ ]:
#Create a Series

d={'Milk': 120, 'Bread': 80, 'Eggs': 200, 'Cheese': 150, 'Butter': 90}
dic_seriea = pd.Series(d)
print(dic_seriea)

#Find total sales.
total_sales = dic_seriea.sum()
print("Total Sales:", total_sales)

#Find which product sold the most
most_sold_value = dic_seriea.max()
print("Most Sold Value:", most_sold_value)

print("prodect: ",dic_seriea[dic_seriea == most_sold_value])

most_sold_product = dic_seriea.idxmax()
print("Most Sold Product:", most_sold_product)

Milk      120
Bread      80
Eggs      200
Cheese    150
Butter     90
dtype: int64
Total Sales: 640
Most Sold Value: 200
prodect:  Eggs    200
dtype: int64
Most Sold Product: Eggs

In [ ]:
# from google.colab import files

# uploaded = files.upload()

In [ ]:
data=pd.read_csv("/content/sales_data.csv")

dataAsSeries = pd.Series(data['Sales'].values ,index=data['Month'],name="Sales")
print(dataAsSeries)

Month
January     1200
February    1500
March        800
April        950
Name: Sales, dtype: int64

In [ ]:

# Load the CSV file
data = pd.read_csv("/content/fruits_prices.csv")

# Convert to Series
dataAsSeries = pd.Series(data['Fruit Price'].values, index = data['Fruit Name'])
print(dataAsSeries)
print()

#find price of mango
mango_price = dataAsSeries['Mango']
print(f"Price of Mango: {mango_price}")
print()

# Add a new fruit "Pineapple" with price 3.5
dataAsSeries["Pineapple"] = 3.5
print( dataAsSeries)
print()

# Apply a 10% price increase
updatedSeries = dataAsSeries * 1.1
print( updatedSeries)

Fruit Name
Apple         1.5
Banana        0.3
Orange        0.8
Grapes        2.0
Mango         1.2
Strawberry    2.5
Peach         1.4
Cherry        3.0
Watermelon    0.7
dtype: float64

Price of Mango: 1.2

Fruit Name
Apple         1.5
Banana        0.3
Orange        0.8
Grapes        2.0
Mango         1.2
Strawberry    2.5
Peach         1.4
Cherry        3.0
Watermelon    0.7
Pineapple     3.5
dtype: float64

Fruit Name
Apple         1.65
Banana        0.33
Orange        0.88
Grapes        2.20
Mango         1.32
Strawberry    2.75
Peach         1.54
Cherry        3.30
Watermelon    0.77
Pineapple     3.85
dtype: float64

In [ ]:
# Find the price of Mango directly using Series
mango_price = data['Price'][data['Fruit'] == 'Mango'].values[0]

# Add Pineapple with a price of 3.5
data = data.append({'Fruit': 'Pineapple', 'Price': 3.5}, ignore_index=True)

# Increase the prices by 10%
data['Price'] = data['Price'] * 1.10

In [ ]:
import pandas as pd

**(DataFrame)**

In [ ]:
df =pd.read_csv('/content/employees.csv')
print(df)

      Name  Age      City  Salary
0    Alice   25  New York   70000
1      Bob   30   Chicago   80000
2  Charlie   28    Boston   75000

![image.png]()

In [ ]:
print(df.head())

      Name  Age      City  Salary
0    Alice   25  New York   70000
1      Bob   30   Chicago   80000
2  Charlie   28    Boston   75000

In [ ]:
print(df.tail())

      Name  Age      City  Salary
0    Alice   25  New York   70000
1      Bob   30   Chicago   80000
2  Charlie   28    Boston   75000

In [ ]:
print(df.describe())

             Age   Salary
count   3.000000      3.0
mean   27.666667  75000.0
std     2.516611   5000.0
min    25.000000  70000.0
25%    26.500000  72500.0
50%    28.000000  75000.0
75%    29.000000  77500.0
max    30.000000  80000.0

![image.png]()

In [ ]:
print(df['Name'])

0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object

In [ ]:
print(df[['Name','City']])

      Name      City
0    Alice  New York
1      Bob   Chicago
2  Charlie    Boston

In [ ]:
print([df[df['Salary']>75000]])

[  Name  Age     City  Salary
1  Bob   30  Chicago   80000]

In [ ]:
print(df.iloc[0])

Name         Alice
Age             25
City      New York
Salary       70000
Name: 0, dtype: object

In [ ]:
print(df.iloc[2])

Name      Charlie
Age            28
City       Boston
Salary      75000
Name: 2, dtype: object

In [ ]:
print(df.loc[0])

Name         Alice
Age             25
City      New York
Salary       70000
Name: 0, dtype: object

In [ ]:
import pandas as pd
from IPython.display import display  # for cleaner tables

# Load the data
df = pd.read_csv('/content/student_habits_performance.csv')

# Show the first few rows
display(df.head(10))  # shows the first 5 rows  table

,student_id,age,gender,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,diet_quality,exercise_frequency,parental_education_level,internet_quality,mental_health_rating,extracurricular_participation,exam_score
0,S1000,23,Female,0.0,1.2,1.1,No,85.0,8.0,Fair,6,Master,Average,8,Yes,56.2
1,S1001,20,Female,6.9,2.8,2.3,No,97.3,4.6,Good,6,High School,Average,8,No,100.0
2,S1002,21,Male,1.4,3.1,1.3,No,94.8,8.0,Poor,1,High School,Poor,1,No,34.3
3,S1003,23,Female,1.0,3.9,1.0,No,71.0,9.2,Poor,4,Master,Good,1,Yes,26.8
4,S1004,19,Female,5.0,4.4,0.5,No,90.9,4.9,Fair,3,Master,Good,1,No,66.4
5,S1005,24,Male,7.2,1.3,0.0,No,82.9,7.4,Fair,1,Master,Average,4,No,100.0
6,S1006,21,Female,5.6,1.5,1.4,Yes,85.8,6.5,Good,2,Master,Poor,4,No,89.8
7,S1007,21,Female,4.3,1.0,2.0,Yes,77.7,4.6,Fair,0,Bachelor,Average,8,No,72.6
8,S1008,23,Female,4.4,2.2,1.7,No,100.0,7.1,Good,3,Bachelor,Good,1,No,78.9
9,S1009,18,Female,4.8,3.1,1.3,No,95.4,7.5,Good,5,Bachelor,Good,10,Yes,100.0

In [ ]:
display(df.tail(5))

,student_id,age,gender,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,diet_quality,exercise_frequency,parental_education_level,internet_quality,mental_health_rating,extracurricular_participation,exam_score
995,S1995,21,Female,2.6,0.5,1.6,No,77.0,7.5,Fair,2,High School,Good,6,Yes,76.1
996,S1996,17,Female,2.9,1.0,2.4,Yes,86.0,6.8,Poor,1,High School,Average,6,Yes,65.9
997,S1997,20,Male,3.0,2.6,1.3,No,61.9,6.5,Good,5,Bachelor,Good,9,Yes,64.4
998,S1998,24,Male,5.4,4.1,1.1,Yes,100.0,7.6,Fair,0,Bachelor,Average,1,No,69.7
999,S1999,19,Female,4.3,2.9,1.9,No,89.4,7.1,Good,2,Bachelor,Average,8,No,74.9

In [ ]:
print(df[['sleep_hours','netflix_hours','study_hours_per_day','exam_score']])

     sleep_hours  netflix_hours  study_hours_per_day  exam_score
0            8.0            1.1                  0.0        56.2
1            4.6            2.3                  6.9       100.0
2            8.0            1.3                  1.4        34.3
3            9.2            1.0                  1.0        26.8
4            4.9            0.5                  5.0        66.4
..           ...            ...                  ...         ...
995          7.5            1.6                  2.6        76.1
996          6.8            2.4                  2.9        65.9
997          6.5            1.3                  3.0        64.4
998          7.6            1.1                  5.4        69.7
999          7.1            1.9                  4.3        74.9

[1000 rows x 4 columns]

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('/content/employees.csv')

In [4]:
print(df)

      Name  Age      City  Salary
0    Alice   25  New York   70000
1      Bob   30   Chicago   80000
2  Charlie   28    Boston   75000

In [10]:
print(df.dtypes)

Name      object
Age        int64
City      object
Salary     int64
dtype: object

In [18]:
df[(df['Salary'] > 70000) & (df['Age'] == 30)]

  Name  Age     City  Salary
1  Bob   30  Chicago   80000

In [19]:
df[(df['Salary'] > 70000) | (df['Age'] == 30)]

      Name  Age     City  Salary
1      Bob   30  Chicago   80000
2  Charlie   28   Boston   75000

In [20]:
df[(df['Age']>25) & (df['Age']<30) ]

      Name  Age    City  Salary
2  Charlie   28  Boston   75000

In [23]:
df[df['Age'].between(26,31)]

      Name  Age     City  Salary
1      Bob   30  Chicago   80000
2  Charlie   28   Boston   75000

In [26]:
df[df['Salary'].between(75000,80000)]

      Name  Age     City  Salary
1      Bob   30  Chicago   80000
2  Charlie   28   Boston   75000

In [28]:
df[df['City'].str.contains('c')]

  Name  Age     City  Salary
1  Bob   30  Chicago   80000

In [29]:
df[df['City'].str.startswith('N')]

    Name  Age      City  Salary
0  Alice   25  New York   70000

In [30]:
df[df['City'].str.startswith('n')] #captel later is diffrent than small later

Empty DataFrame
Columns: [Name, Age, City, Salary]
Index: []

In [31]:
df[df['City'].str.endswith('n')]

      Name  Age    City  Salary
2  Charlie   28  Boston   75000

In [37]:
df['City'] = df['City'].str.replace('Boston', 'Oman')

df

      Name  Age      City  Salary
0    Alice   25  New York   70000
1      Bob   30   Chicago   80000
2  Charlie   28      Oman   75000

In [38]:
df.isnull()

    Name    Age   City  Salary
0  False  False  False   False
1  False  False  False   False
2  False  False  False   False

In [39]:
df.notnull()

   Name   Age  City  Salary
0  True  True  True    True
1  True  True  True    True
2  True  True  True    True

In [43]:
df.loc[len(df)] = ['Ali', None, 'Boston',None]
df

      Name   Age      City Salary
0    Alice    25  New York  70000
1      Bob    30   Chicago  80000
2  Charlie    28      Oman  75000
3      Ali  None    Boston   None

In [44]:
df.isnull()

    Name    Age   City  Salary
0  False  False  False   False
1  False  False  False   False
2  False  False  False   False
3  False   True  False    True

In [47]:
mask=df['Name']=='Alice'
mask

0     True
1    False
2    False
3    False
Name: Name, dtype: bool

In [50]:
import numpy as np

In [52]:
#.mask for replacing
#df.mask(condition, value)

df_new = df.mask(df['Name'] == 'Alice', np.nan)
df_new

      Name   Age     City Salary
0      NaN   NaN      NaN    NaN
1      Bob    30  Chicago  80000
2  Charlie    28     Oman  75000
3      Ali  None   Boston   None

In [53]:
df.drop(columns=['Age'],inplace=True) #inplace=True when we use it it well drop from taple not only for the print
df

      Name      City Salary
0    Alice  New York  70000
1      Bob   Chicago  80000
2  Charlie      Oman  75000
3      Ali    Boston   None

In [55]:
df.drop(columns=['Name']) #not drop it achaly only for thr print

       City Salary
0  New York  70000
1   Chicago  80000
2      Oman  75000
3    Boston   None

In [56]:
df

      Name      City Salary
0    Alice  New York  70000
1      Bob   Chicago  80000
2  Charlie      Oman  75000
3      Ali    Boston   None

In [57]:
df = pd.read_csv('/content/employees.csv')

In [58]:
df

      Name  Age      City  Salary
0    Alice   25  New York   70000
1      Bob   30   Chicago   80000
2  Charlie   28    Boston   75000

In [59]:
df['Salary']=df['Salary']*0.1
df

      Name  Age      City  Salary
0    Alice   25  New York  7000.0
1      Bob   30   Chicago  8000.0
2  Charlie   28    Boston  7500.0

In [60]:
df['Age']=df['Age']+1
df

      Name  Age      City  Salary
0    Alice   26  New York  7000.0
1      Bob   31   Chicago  8000.0
2  Charlie   29    Boston  7500.0

In [61]:
df.rename(columns={'Salary':'Income'},inplace=True)
df

      Name  Age      City  Income
0    Alice   26  New York  7000.0
1      Bob   31   Chicago  8000.0
2  Charlie   29    Boston  7500.0

In [62]:
df.drop('Name',axis=1)

   Age      City  Income
0   26  New York  7000.0
1   31   Chicago  8000.0
2   29    Boston  7500.0