<a href="https://colab.research.google.com/github/IBREEZZ/Problem_Solving/blob/main/week1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Chapter 1**

**print function**

In [ ]:
print('Hello World ')

Hello World

**variable**
- name storage loction in computer program

In [ ]:
name = 'IBREEZ'
print(name)

IBREEZ

**Data Type:**
  - integer
  - float
  - String (be between question mark)

**Soda Deal**

In [ ]:
cans= 0.355
print(cans)

x=6*0.355
print(x)

y=2
print (y)

# the cans because more litter with less price

0.355
2.13
2

In [ ]:
canPerPack= 6 # "=" assignment statment

In [ ]:
count = 0
count = count + 1
#print(count)
count = count + 1
print(count)

2

**Name the variable**
- you can not start name with number
- you can not use symbols
- spaces is not allowed
- _ is allowed
- don't use reserved python word(list,print,imprt,let,.....)
-- **use decriptiv name for the value**

In [ ]:
name="Qusey"
print(name)

Qusey

In [ ]:
#you can not start name with number
#01name="Ali"
#print(01name)

In [ ]:
#you can not use symbols
#name="Ahmed"
#print(name&)

In [ ]:
#canVolume1 # T
#x # T
#CanVolume # T (beter to start with small letter / if ther word sane start with small lettel will be diffrent value than this one)
#6pack # F (start with number)
#can volume # F (have space)
#class # F (have symbols)
#ltr/1.fz # F (have symbols)

**Constants**
- make it all word capter letter

In [ ]:
PRICE = 5
print(PRICE)

5

**Comment**
- it for explin
- not print
- use the #
- in long text ''' ............ '''
- use ctrl + / (to comment multiple line)

In [ ]:
pack = 6
cans = 12
bottle = 2
fluid12 = 0.355 #this for 1 cans which 12

numCanPerPack = pack * fluid12 #total litter for cans in 6 pack

if numCanPerPack > bottle:
  print(numCanPerPack)

else:
  print(bottle)

2.13

Arithmetic Operations
- Addition +
- Subtraction -
- Multiplication *
- Division /
- parthesis ()
- Exponent power **
- Remainder %
- Assignment =
-- any sum with float be float

In [ ]:
b=2
r=2
n=4
num= b*(1+r/100)**n
print(num)

2.16486432

- with float /
- befor point //
- rmainder %

In [ ]:
n= 5
m=4
a1=n/m
print(a1)
a2=n//m
print(a2)
a3=n%m
print(a3)

1.25
1
1

find me the even and  odd numbers between a & b a=6   b=13?

- begin
- input a= 6
- input b=13
- If a % 2 == 0 yes → print "a is even"
- Else No→ print "a is odd"

- If b % 2 == 0 yes→ print "b is even"
- Else No → print "b is odd"
- End

In [ ]:
a=6
b=13

if a%2 ==0 :
  print("a is even")
else:
  print("a is odd")

if b%2 ==0 :
  print("b is even")
else:
  print("b is odd")

a is even
b is odd

**Function**
- 2 type (void and return)
- abs (make negive num to postive )

In [ ]:
a=-10

if a<0:
  # a= a*-1 #how abs is work
  a=abs(a)
  print(a)
else:
  print(a)

10

**Argument**
- any thing we pass it in parthesis

In [ ]:
x=45.55
roundx=round(x)
print(roundx)

46

In [ ]:
x=45.347
roundx=round(x,1)
print(roundx)

45.3

In [ ]:
x=45.347
roundx=round(x,2)
print(roundx)

45.35

In [ ]:
min1=min(1,2,3,4,5)
print(min1)

1

In [ ]:
max(1,2,3,4,5)

5

**using function from the Math Moduls**
- import math
-- math.sqrt
- from math import sqrt
-- sqrt()

In [ ]:
import math
x=math.sqrt(16)
print(x)

4.0

In [ ]:
from math import sqrt
x=sqrt(16)
print(x)

4.0

**floating to integer** **or integer to float**

In [ ]:
age=2.5
#convert to int
age=int(age)
print(age)

2

In [ ]:
age=1
#convert to float
age=float(age)
print(age)

1.0

# **using sqrt**

In [ ]:
from math import sqrt
a=2
b=2
print(sqrt(a**2+b**2))

2.8284271247461903

In [ ]:
from math import sqrt,cos
a=2
b=2
t=2
sqrt(a**2+b**2-2*a*b*cos(t))

3.365883939231586

from math import *
-  this import all what include in the math no need to minthion it

In [ ]:
from math import *
sqrt(16)

4.0

**Combining Assignment And Arithmetic**
- ShourtCut

In [ ]:
count=0
count = count + 1
print(count)

countt=0
countt += 1 # this is shourtcut
print(countt)

1
1

# **Chapter 2**

**User Input**

In [ ]:
name = input("plase enter your name : ")

plase enter your name : IBREEZ

In [ ]:
message = "enter your name : "
name = input(message)

enter your name : Ibreez

In [ ]:
num=int(input("enter your number :"))

enter your number :5

**Formatted Output**
- format specifier

In [ ]:
#using % f,s,d
price = 1.21996
print ( "print price per litter %.2f" %(price))
print ( "print price per litter %10.2f" %(price))

print price per litter 1.22
print price per litter       1.22

In [ ]:
##number of space
name = "IBREEZ"
age = 23

#to left

print ( " My Name is %8s" %name)
print ( " My Age is %8d" %age)

print ("My Name is : %5s & My Age is : %1d  " %(name , age) )

#to right

print ( " My Name is %-8s" %name)
print ( " My Age is %-8d" %age)

print ("My Name is : %-5s & My Age is : %-1d  " %(name , age) )

 My Name is   IBREEZ
 My Age is       23
My Name is : IBREEZ & My Age is : 23
 My Name is IBREEZ
 My Age is 23
My Name is : IBREEZ & My Age is : 23

In [ ]:
price = 1.21996
print("%-10s" %("Total:"))
print("%10.2f" %(price))
print("%-10s%10.2f" %("Total: " , price))

Total:
      1.22
Total:          1.22

In [ ]:
canPaket = int(input("enter the number of paket : "))
canNumInPaket = int(input(f"enter the number of {canPaket} paket : "))
canLetter = float(input(f"enter the letter  : "))
bottelLetter= int(input(f"enter the letter of bottel : "))

canLetterPaket = canPaket *canLetter # total letter

if canLetterPaket > bottelLetter:
  print(f"cans less price: {canLetterPaket}")

else:
  print(f" bottel  less price :{bottelLetter}")

enter the number of paket : 6
enter the number of 6 paket : 12
enter the letter  : 2
enter the letter of bottel : 2
cans less price: 12.0

**Strings**

In [ ]:
message = "He said 'Hello' "
print (message)

He said 'Hello'

In [ ]:
message = 'He said "Hello" '
print (message)

He said "Hello"

**Length**
- len

In [2]:
length = len("IBREEZ")
print(length)

6

**String Concatenation**

In [7]:
fristName = str(input("Enter your frist name :"))
lastName = str(input("Enter your last name :"))
fullName = fristName + " " + lastName
print(fullName)

Enter your frist name :IBREEZ
Enter your last name :AL-AUFI
IBREEZ AL-AUFI

In [8]:
fristName = str(input("Enter your frist name :"))
lastName = int(input("Enter your last name :"))
lastName = str(lastName)
fullName = fristName + " " + lastName
print(fullName)

Enter your frist name :ibreez
Enter your last name :7
ibreez 7

**String repetition**

In [11]:
print("-" * 59)

-----------------------------------------------------------

Overloaded
-   String Concatenation +
-   String repetition *

[ ]  bracet -> for the index

In [28]:
name = 'IBREEZ'
print (name[0])
print(name[-1])
print(name[1:])#from 1 to end
print(name[0:3])# before 3 one
print(name[-1:])
print(name[-4:-1])
print(name[::2])#every time move 2

I
Z
BREEZ
IBR
Z
REE
IRE
I

**String Escape Sequences**

In [31]:
print ("Hi I am \"IBREEZ\"")

Hi I am "IBREEZ"

In [32]:
print("Hi I am \\IBREEZ\\")

Hi I am \IBREEZ\

In [34]:
print("Hi\nI am \nIBREEZ")

Hi
I am
IBREEZ

In [35]:
print("*\n**\n***\n****")

*
**
***
****

**IF STATMENT**

In [37]:
floor=int(input("enter the number of floor: "))
if floor > 13 :
  acutualfloor = floor - 1
  print("acutual floor is : ", acutualfloor)
else:
  print("acutual floor is : " ,floor)

enter the number of floor: 14
acutual floor is :  13